/vendor
/node_modules
/coverage
/public
.env
.phpunit.result.cache
/.phpunit.cache
composer.lock
package-lock.json
yarn.lock
.DS_Store
Thumbs.db
.idea
.vscode
*.swp
*.swo
*.swn
.php-cs-fixer.cache
.php_cs.cache
